.header-content {
  align-items: center;
  align-self: center;
  border: 2px solid yellow;
  border-radius: 100%;
  color: yellow;
  display: flex;
  font-size: 1.5em;
  height: 263.46px;
  justify-content: center;
  left: 412.69px;
  margin-top: 30px;
  position: static;
  top: 35.92px;
  width: 600px !important;
}